<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Health Coach - New Customer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/static/template/assets/img/favicon.png" rel="icon">
  <link href="/static/template/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="/static/template/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="/static/template/assets/css/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="home" class="logo d-flex align-items-center">
        <img src="/static/imagens/HealthCoachIcon.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- Icone da barra -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/template/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span id="user-name" class="d-none d-md-block dropdown-toggle ps-2">Usuário Desconhecido</span>
          </a><!-- Foto e nome do Perfil -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Usuário Desconhecido</h6>
              <span>Cargo desconhecido</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/home">
          <i class="ri-home-4-fill"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/forms">
          <i class="bi bi-person-plus-fill"></i>
          <span>New Customer</span>
        </a>
      </li><!-- Forms Register new Customer -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/showCustomers">
          <i class="bi bi-people-fill"></i>
          <span>Customers</span>
        </a>
      </li><!-- Table to find Customer -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/contact">
          <i class="ri-customer-service-fill"></i>
          <span>Contact Developer</span>
        </a>
      </li><!-- End Contact Page Nav -->
    </ul>
  </aside>

  <!-- Editar Aqui o Main -->
  <main id="main" class="main">

    <form action="">
      <div class="container-fluid">
        <div class="pagetitle">
          <h1>Customer Registration</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">NewCustomer</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Informations</h5>

                  <div class="row g-3">

                    <div class="col-md-10">
                      <label for="name" class="form-label">Your Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="col-md-2">
                      <label for="age" class="form-label">Age</label>
                      <input type="number" placeholder="max 150"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1'); if (parseFloat(this.value) > 150) this.value = '150';"
                        class="form-control" id="age" name="age">
                    </div>

                    <div class="col-md-6">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email">
                    </div>

                    <div class="col-md-6">
                      <label for="referredBy" class="form-label">Referred By</label>
                      <input type="text" class="form-control" id="referredBy" name="referredBy">
                    </div>

                    <div class="col-md-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address">
                    </div>

                    <div class="col-md-6">
                      <label for="birthDate" class="form-label">Birth Date</label>
                      <input type="text" class="form-control" id="birthDate" placeholder="dd/mm/yyyy" name="birthDate">
                    </div>

                    <div class="col-md-6">
                      <label for="phoneNumber" class="form-label">Phone Number</label>
                      <input type="tel" class="form-control" id="phoneNumber" placeholder="(99) 99999-9999"
                        name="phoneNumber">
                    </div>

                    <div class="col-md-6">
                      <label for="weight" class="form-label">Weight</label>
                      <input type="number" class="form-control" id="weight" placeholder="kg" name="weight">
                    </div>

                    <div class="col-md-6">
                      <label for="height" class="form-label">Height</label>
                      <input type="number" class="form-control" id="height" placeholder="cm" name="height">
                    </div>

                    <div class="col-md-6">
                      <label for="worksOrStudies" class="form-label">Works or Studies</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="worksOrStudies"
                          name="worksOrStudies">
                        <label class="form-check-label" for="worksOrStudies">
                          Yes, I work or study.
                        </label>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="consultationReason" class="form-label">Consultation Reason 1</label>
                      <textarea class="form-control" id="consultationReason" rows="4"
                        name="consultationReason"></textarea>
                    </div>

                    <div class="col-md-12">
                      <label for="expectedOutcome" class="form-label">Expected Outcome</label>
                      <textarea class="form-control" id="expectedOutcome" rows="4" name="expectedOutcome"></textarea>
                    </div>

                  </div><!-- End Multi Columns Form -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="container-fluid">
        <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Alimentation Information</h5>

                  <div class="row g-3">
                    <div class="col-md-12">
                      <label data-bs-toggle="collapse" data-bs-target="#collapseEatsUponWakingUp" class="form-label">
                        <input id="eatsUponWakingUp" type="checkbox" name="eatsUponWakingUp"> Eats upon wake up?</label>
                      <div id="collapseEatsUponWakingUp" class="col-md-12 collapse">
                        <input id="eatsUponWakingUpText" type="text" class="form-control" placeholder="Breakfast..."
                          name="eatsUponWakingUpText">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="eatsBeforeLunch" data-bs-toggle="collapse" data-bs-target="#collapseEatsBeforeLauch"
                        class="form-label">
                        <input id="eatsBeforeLunch" type="checkbox" name="eatsBeforeLunch"> Eats before lunch?
                      </label>

                      <div id="collapseEatsBeforeLauch" class="col-md-12 collapse">
                        <input id="beforeLunchMeal" type="text" class="form-control" placeholder="Lunch..."
                          name="beforeLunchMeal">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="eatsLunch" data-bs-toggle="collapse" data-bs-target="#collapseEatsLunch"
                        class="form-label">
                        <input id="eatsLunch" type="checkbox" name="eatsLunch"> Eats lunch?
                      </label>

                      <div id="collapseEatsLunch" class="col-md-12 collapse">
                        <input id="eatsLunchText" type="text" class="form-control" placeholder="Lunch..." name="lunch">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="eatsAfternoonSnack" data-bs-toggle="collapse"
                        data-bs-target="#collapseEatsAfternoonSnack" class="form-label">
                        <input id="eatsAfternoonSnack" type="checkbox" name="eatsAfternoonSnack"> Eats afternoon snack?
                      </label>

                      <div id="collapseEatsAfternoonSnack" class="col-md-12 collapse">
                        <input id="afternoonSnack" type="text" class="form-control" placeholder="Snack..."
                          name="afternoonSnack">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="eatsDinner" data-bs-toggle="collapse" data-bs-target="#collapseEatsDinner"
                        class="form-label">
                        <input id="eatsDinner" type="checkbox" name="eatsDinner"> Eats dinner?
                      </label>

                      <div id="collapseEatsDinner" class="col-md-12 collapse">
                        <input id="dinner" type="text" class="form-control" placeholder="Dinner..." name="dinner">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="eatsBeforeBedtime" data-bs-toggle="collapse"
                        data-bs-target="#collapseEatsBeforeBedTime" class="form-label">
                        <input id="eatsBeforeBedtime" type="checkbox" name="eatsBeforeBedtime"> Eats before bed time?
                      </label>

                      <div id="collapseEatsBeforeBedTime" class="col-md-12 collapse">
                        <input id="beforeBedtimeSnack" type="text" class="form-control" placeholder="Snack..."
                          name="beforeBedtimeSnack">
                      </div>
                    </div>
                  </div><!-- End Multi Columns Form -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="container-fluid">
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">Customer Gym Information</h5>
                  <div class="row g-3">

                    <div class="col-md-5">
                      <div class="form-check ms-2">
                        <label for="doesExercise" data-bs-toggle="collapse" data-bs-target=".doesExercises"
                          class="form-check-label">
                          <input id="doesExercise" class="form-check-input" type="checkbox" name="doesExercise"> Do you
                          exercise?
                        </label>

                        <div class="col-md-12 collapse doesExercises">
                          <div class="mt-4">
                            <label for="trainingDaysPerWeek" class="form-label">Days of exercise per week?</label>
                            <select id="trainingDaysPerWeek" class="form-select" name="trainingDaysPerWeek">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option selected>Choose...</option>
                            </select>
                          </div>

                          <div class="my-4">
                            <label for="exerciseTypes" class="form-label">What types of exercises?</label>
                            <textarea id="exerciseTypes" class="form-control" placeholder="Exercises..."
                              name="exerciseTypes"></textarea>
                          </div>

                          <div class="col-md-12">
                            <label for="postExerciseFeeling" class="form-label">After exercising, do you feel
                              anything?</label>
                            <textarea id="postExerciseFeeling" class="form-control" placeholder="Exercises..."
                              name="postExerciseFeeling"></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="form-check ms-2">
                        <label for="intendsToExercise" class="form-check-label">Do you intend to exercise?</label>
                        <input id="intendsToExercise" class="form-check-input" type="checkbox" name="intendsToExercise">
                      </div>

                      <div class="form-check ms-2 mb-5">
                        <label for="isPhysicallyActive" class="form-check-label">Do you exercise regularly?</label>
                        <input id="isPhysicallyActive" class="form-check-input" type="checkbox"
                          name="isPhysicallyActive">
                      </div>
                    </div>

                    <div class="dropdown col-md-3">
                      <label for="weightType" class="form-label">Weight Type</label>
                      <select id="weightType" class="form-select" name="weightType">
                        <option>Yoyo</option>
                        <option>Stable</option>
                        <option>Gain</option>
                        <option>Loss</option>
                        <option>Rapid Gain</option>
                        <option>Cant Maintain Weight</option>
                        <option selected>Choose...</option>
                      </select>
                    </div>

                    <div class="col-md-3">
                      <label for="desiredWeight" class="form-label">Desired weight</label>
                      <input id="desiredWeight" type="text" class="form-control" name="desiredWeight">
                    </div>

                    <div>
                      <label for="desiredFreeTimeActivity" class="form-label">What are your favorite leisure
                        activities?</label>
                      <textarea id="desiredFreeTimeActivity" class="form-control" placeholder="Exercises..."
                        name="desiredFreeTimeActivity"></textarea>
                    </div>

                    <div>
                      <label for="exerciseLimitations" class="form-label">Do you have any exercises that limit you or
                        cause discomfort?</label>
                      <textarea id="exerciseLimitations" class="form-control" placeholder="Exercises..."
                        name="exerciseLimitations"></textarea>
                    </div>

                    <div>
                      <label for="supplements" class="form-label">Do you take any supplements?</label>
                      <textarea id="supplements" class="form-control" placeholder="Supplements..."
                        name="supplements"></textarea>
                    </div>

                    <div>
                      <label for="lifeSituationToChange" class="form-label">Do you have any fitness goals or desired
                        life
                        changes related to exercise?</label>
                      <textarea id="lifeSituationToChange" class="form-control" placeholder="Exercises..."
                        name="lifeSituationToChange"></textarea>
                    </div>

                    <div class="dropdown col-md-2">
                      <div>
                        <label for="familyBalance" class="form-label">Family Balance</label>
                        <select id="familyBalance" class="form-select" name="familyBalance">
                          <option value="NONE">NONE</option>
                          <option value="LOW">LOW</option>
                          <option value="MEDIUM">MEDIUM</option>
                          <option value="HIGH">HIGH</option>
                          <option value="MAX">MAX</option>
                          <option selected>Choose...</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-10">
                      <label for="determinationLevel" class="form-label">What's your determination level?</label>
                      <input id="determinationLevel" type="range" class="form-range" min="0" max="10"
                        name="determinationLevel">
                      <div class="d-flex justify-content-between ps-2">
                        <p>0</p>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                        <p>10</p>
                      </div>
                    </div>

                    <h4 class="mx-auto p-3 text-center">Goals</h4>
                    <div class="flex-row d-flex text-center flex-wrap justify-content-around">

                      <div class="form-check col-2">
                        <label for="improveWellBeing" class="form-check-label">Improve Well-being</label>
                        <input id="improveWellBeing" class="form-check-input" type="checkbox" name="improveWellBeing">
                      </div>

                      <div class="form-check col-2">
                        <label for="increaseExercise" class="form-check-label">Increase Exercise</label>
                        <input id="increaseExercise" class="form-check-input" type="checkbox" name="increaseExercise">
                      </div>

                      <div class="form-check col-2">
                        <label for="loseWeight" class="form-check-label">Lose Weight</label>
                        <input id="loseWeight" class="form-check-input" type="checkbox" name="loseWeight">
                      </div>

                      <div class="form-check col-2">
                        <label for="improveSleep" class="form-check-label">Improve Sleep</label>
                        <input id="improveSleep" class="form-check-input" type="checkbox" name="improveSleep">
                      </div>

                      <div class="form-check col-2">
                        <label for="improveMentalHealth" class="form-check-label">Improve Mental Health</label>
                        <input id="improveMentalHealth" class="form-check-input" type="checkbox"
                          name="improveMentalHealth">
                      </div>

                      <div class="form-check col-2">
                        <label for="improveDiet" class="form-check-label">Improve Diet</label>
                        <input id="improveDiet" class="form-check-input" type="checkbox" name="improveDiet">
                      </div>

                      <div class="form-check col-2">
                        <label for="increaseEnergy" class="form-check-label">Increase Energy</label>
                        <input id="increaseEnergy" class="form-check-input" type="checkbox" name="increaseEnergy">
                      </div>

                      <div class="form-check col-2">
                        <label for="increaseProductivity" class="form-check-label">Increase Productivity</label>
                        <input id="increaseProductivity" class="form-check-input" type="checkbox"
                          name="increaseProductivity">
                      </div>

                      <div class="form-check col-2">
                        <label for="decreaseStress" class="form-check-label">Decrease Stress</label>
                        <input id="decreaseStress" class="form-check-input" type="checkbox" name="decreaseStress">
                      </div>

                      <div class="form-check col-2">
                        <label for="improveLifeBalance" class="form-check-label">Improve Life Balance</label>
                        <input id="improveLifeBalance" class="form-check-input" type="checkbox"
                          name="improveLifeBalance">
                      </div>

                      <div class="form-check col-2">
                        <label for="jobSatisfaction" class="form-check-label">Job Satisfaction</label>
                        <input id="jobSatisfaction" class="form-check-input" type="checkbox" name="jobSatisfaction">
                      </div>

                    </div><!-- End Multi Columns Form -->
                  </div>
                </div>
              </div>
            </div>
        </section>
      </div>

      <div class="container-fluid">
        <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Health Information</h5>

                  <div class="row g-3">

                    <div>
                      <label for="moodDescription" class="form-label">How would you describe your mood recently?</label>
                      <textarea id="moodDescription" class="form-control" placeholder="Description..."
                        name="moodDescription"></textarea>
                    </div>

                    <div class="dropdown col-4">
                      <label for="sleepTypeEnum" class="form-label">Sleep quality</label>
                      <select id="sleepTypeEnum" class="form-select" name="sleepTypeEnum">
                        <option>EXCELLENT</option>
                        <option>GOOD</option>
                        <option>POOR</option>
                        <option>DIFFICULTY_FALLING_ASLEEP</option>
                        <option>RESTORATIVE</option>
                        <option>DAYTIME_SLEEPINESS</option>
                        <option>SNORING</option>
                        <option>APNEA</option>
                        <option>NIGHT_AGGITATION</option>
                        <option selected>Choose...</option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label for="weekdaySleepHours" class="form-label">Sleep hours during the day</label>
                      <input id="weekdaySleepHours" type="time" class="form-control" placeholder="Time..."
                        name="weekdaySleepHours"></input>
                    </div>

                    <div class="col-4">
                      <label for="weekendSleepHours" class="form-label">Sleep hours during the week</label>
                      <input id="weekendSleepHours" type="time" class="form-control" placeholder="Time..."
                        name="weekendSleepHours"></input>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="concentration" class="form-label">What's your current level of concentration?</label>
                      <input id="concentration" type="range" class="form-range" min="1" max="5" name="concentration">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="recentMemory" class="form-label">How would you describe your recent memory?</label>
                      <input id="recentMemory" type="range" class="form-range" min="1" max="5" name="recentMemory">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="longTermMemory" class="form-label">How would you describe your long-term
                        memory?</label>
                      <input id="longTermMemory" type="range" class="form-range" min="1" max="5" name="longTermMemory">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="morningDisposition" class="form-label">How would you describe your morning
                        disposition?</label>
                      <input id="morningDisposition" type="range" class="form-range" min="1" max="5"
                        name="morningDisposition">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="afternoonDisposition" class="form-label">How would you describe your afternoon
                        disposition?</label>
                      <input id="afternoonDisposition" type="range" class="form-range" min="1" max="5"
                        name="afternoonDisposition">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="eveningDisposition" class="form-label">How would you describe your evening
                        disposition?</label>
                      <input id="eveningDisposition" type="range" class="form-range" min="1" max="5"
                        name="eveningDisposition">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="daytimeEnergy" class="form-label">How would you describe your day time
                        energy?</label>
                      <input id="daytimeEnergy" type="range" class="form-range" min="1" max="5"
                        name="daytimeEnergy">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="col-md-12 pt-5">
                      <label for="stressLevel" class="form-label">What is your evening stress level?</label>
                      <input id="stressLevel" type="range" class="form-range" min="1" max="5" name="stressLevel">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>

                    <div class="pt-2">
                      <label for="sleepImprovementMethods" class="form-label">Sleep Improvement Methods</label>
                      <textarea id="sleepImprovementMethods" type="text" class="form-control"
                        placeholder="Description..." name="sleepImprovementMethods"></textarea>
                    </div>

                    <div>
                      <label for="energyReductionMethods" class="form-label">Energy Reduction Methods</label>
                      <textarea id="energyReductionMethods" type="text" class="form-control"
                        placeholder="Description..." name="energyReductionMethods"></textarea>
                    </div>

                    <div>
                      <label for="stressReductionMethods" class="form-label">Stress Reduction Methods</label>
                      <textarea id="stressReductionMethods" type="text" class="form-control"
                        placeholder="Description..." name="stressReductionMethods"></textarea>
                    </div>

                    <div>
                      <label for="healthDescription" class="form-label">Health Description</label>
                      <textarea id="healthDescription" type="text" class="form-control" placeholder="Description..."
                        name="healthDescription"></textarea>
                    </div>

                    <div class="conteiner ">
                      <div class="row">
                        <div class="dropdown col-4">
                          <label class="form-label">Do you have any comorbidities?</label>
                          <select id="diseaseSelect" class="form-select">
                            <option value="acidReflux">Acid Reflux</option>
                            <option value="anemia">Anemia</option>
                            <option value="anxiety">Anxiety</option>
                            <option value="arthritis">Arthritis</option>
                            <option value="asthma">Asthma</option>
                            <option value="cancer">Cancer</option>
                            <option value="chemicalSensitivity">Chemical Sensitivity</option>
                            <option value="chronicFatigueSyndrome">Chronic Fatigue Syndrome</option>
                            <option value="depression">Depression</option>
                            <option value="diabetes">Diabetes</option>
                            <option value="edema">Edema</option>
                            <option value="environmentalAllergies">Environmental Allergies</option>
                            <option value="fattyLiverDisease">Fatty Liver Disease</option>
                            <option value="foodAllergies">Food Allergies</option>
                            <option value="fungalInfection">Fungal Infection</option>
                            <option value="gout">Gout</option>
                            <option value="headaches">Headaches</option>
                            <option value="heartAttack">Heart Attack</option>
                            <option value="highCholesterol">High Cholesterol</option>
                            <option value="hypertension">Hypertension</option>
                            <option value="hyperthyroidism">Hyperthyroidism</option>
                            <option value="hypothyroidism">Hypothyroidism</option>
                            <option value="infertility">Infertility</option>
                            <option value="insomnia">Insomnia</option>
                            <option value="irritatedIntestine">Irritated Intestine</option>
                            <option value="jointPain">Joint Pain</option>
                            <option value="kidneyStones">Kidney Stones</option>
                            <option value="lupus">Lupus</option>
                            <option value="lowImmunity">Low Immunity</option>
                            <option value="metabolicSyndrome">Metabolic Syndrome</option>
                            <option value="moodSwings">Mood Swings</option>
                            <option value="muscleFlaccidity">Muscle Flaccidity</option>
                            <option value="musclePain">Muscle Pain</option>
                            <option value="osteoporosis">Osteoporosis</option>
                            <option value="polycysticOvarySyndrome">Polycystic Ovary Syndrome</option>
                            <option value="premenstrualSyndrome">Premenstrual Syndrome</option>
                            <option value="rheumatoidArthritis">Rheumatoid Arthritis</option>
                            <option value="sleepApnea">Sleep Apnea</option>
                            <option value="smoking">Smoking</option>
                            <option value="urinaryTractInfection">Urinary Tract Infection</option>
                            <option value="weightGain">Weight Gain</option>
                            <option value="regularBowelMovement">Regular Bowel Movement</option>
                            <option selected>Choose...</option>
                          </select>
                        </div>
                        <div class="col mt-4 pt-2">
                          <button onclick=" diseases.add()" id="diseasesButton" type="button"
                            class="btn btn-primary ">ADD</button>
                        </div>

                        <div class=" col-6">
                          <table class="table table-dark">
                            <thead class="table-secondary">
                              <tr class="text-center">
                                <th scope="col">Diseases</th>
                                <th scope="col-1">X</th>
                              </tr>
                            </thead>
                            <tbody id="diseasesTbody" class="table-group-divider text-center table-striped-columns">

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Multi Columns Form -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="container-fluid">
        <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Nutritionist Information</h5>

                  <div class="row g-3">
                    <div class="col-5 pt-4">
                      <div class="form-check">
                        <label for="visitedNutritionist" class="form-check-label">Have you visited a nutritionist?</label>
                        <input id="visitedNutritionist" class="form-check-input" type="checkbox"
                          name="visitedNutritionist">
                      </div>

                      <div class="form-check">
                        <label for="shortOnTimeForMeals" class="form-check-label">Short on Time for Meals</label>
                        <input id="shortOnTimeForMeals" class="form-check-input" type="checkbox"
                          name="shortOnTimeForMeals">
                      </div>

                      <div class="form-check">
                        <label for="eatsOutMoreThanHalfTheTime" class="form-check-label">Eats out more than Half the
                          Time</label>
                        <input id="eatsOutMoreThanHalfTheTime" class="form-check-input" type="checkbox"
                          name="eatsOutMoreThanHalfTheTime">
                      </div>

                      <div class="form-check">
                        <label for="unhealthyFoodAtHome" class="form-check-label">Unhealthy Food at Home</label>
                        <input id="unhealthyFoodAtHome" class="form-check-input" type="checkbox"
                          name="unhealthyFoodAtHome">
                      </div>

                      <div class="form-check">
                        <label for="unhealthyEatingAround" class="form-check-label">Unhealthy Eating Around</label>
                        <input id="unhealthyEatingAround" class="form-check-input" type="checkbox"
                          name="unhealthyEatingAround">
                      </div>

                      <div class="form-check">
                        <label for="creativeWithFood" class="form-check-label">Creative With Food</label>
                        <input id="creativeWithFood" class="form-check-input" type="checkbox" name="creativeWithFood">
                      </div>

                      <div class="form-check">
                        <label for="eatsSomethingRightAfterWakingUp" class="form-check-label">Eats Something Right After
                          Waking up</label>
                        <input id="eatsSomethingRightAfterWakingUp" class="form-check-input" type="checkbox"
                          name="eatsSomethingRightAfterWakingUp">
                      </div>
                    </div>

                    <div class="col-7">
                      <div class="col">
                        <label for="chewingPace" class="form-label">What is your chewing pace?</label>
                        <input id="chewingPace" type="text" class="form-control" name="chewingPace">
                      </div>

                      <div class="col pt-3">
                        <label for="mealsPerDay" class="form-label">How many daily meals?</label>
                        <input id="mealsPerDay" type="number" class="form-control" placeholder="Quantity..."
                          name="mealsPerDay">
                      </div>

                      <div class="col pt-3">
                        <label for="cupsOfWaterPerDay" class="form-label">How many cups of water do you drink per
                          day?</label>
                        <input id="cupsOfWaterPerDay" type="number" class="form-control" placeholder="Quantity..."
                          name="cupsOfWaterPerDay">
                      </div>
                    </div>

                    <div class="pt-2">
                      <label for="mostHungryTimeOfDay" class="form-label">What is your most hungry time of day?</label>
                      <textarea id="mostHungryTimeOfDay" type="text" class="form-control" placeholder="Description..."
                        name="mostHungryTimeOfDay"></textarea>
                    </div>
                  </div>

                  <div class="pt-2">
                    <label for="goToSnack" class="form-label">Do you have a go-to snack?</label>
                    <textarea id="goToSnack" type="text" class="form-control" placeholder="Description..."
                      name="goToSnack"></textarea>
                  </div>

                  <div class="pt-2">
                    <label for="favoriteFood" class="form-label">What is your favorite food?</label>
                    <textarea id="favoriteFood" type="text" class="form-control" placeholder="Description..."
                      name="favoriteFood"></textarea>
                  </div>

                  <div class="pt-2">
                    <label for="dislikedFood" class="form-label">What is a food you dislike?</label>
                    <textarea id="dislikedFood" type="text" class="form-control" placeholder="Description..."
                      name="dislikedFood"></textarea>
                  </div>

                  <div class="pt-2">
                    <label for="weekendFoodChoice" class="form-label">What are your preferred food choices during the
                      weekend?</label>
                    <textarea id="weekendFoodChoice" type="text" class="form-control" placeholder="Description..."
                      name="weekendFoodChoice"></textarea>
                  </div>

                  <div class="row pt-5">
                    <div class="col-2 pb-3">
                      <div class="dropdown">
                        <label for="groceryBuyer" class="form-label">Grocery Buyer</label>
                        <select id="groceryBuyer" class="form-select" name="groceryBuyer">
                          <option>Self</option>
                          <option>Family Members</option>
                          <option>Friends</option>
                          <option>Others</option>
                          <option selected>Choose...</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-5 ">
                      <label for="prepareMeals" class="form-label">How often do you prepare meals?</label>
                      <input id="prepareMeals" type="range" class="form-range" min="1" max="5" name="prepareMeals">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>
                    <div class="col-5 ">
                      <label for="eveningStressLevel" class="form-label">What is your evening stress level?</label>
                      <input id="eveningStressLevel" type="range" class="form-range" min="1" max="5"
                        name="eveningStressLevel">
                      <div class="d-flex justify-content-between pr-2">
                        <p>NONE</p>
                        <p>LOW</p>
                        <p>MEDIUM</p>
                        <p>HIGH</p>
                        <p>MAX</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Multi Columns Form -->
            </div>
          </div>
        </section>
      </div>

      <div class="container-fluid">
        <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Rotine Information</h5>

                  <div class="row g-3">

                    <div class="conteiner">
                      <div class="row">
                        <div class="col-5 ms-4">
                          <label for="foodsSelect" class="form-label">How often do you usually eat</label>
                          <div class="dropdown">
                            <select id="foodsSelect" class="form-select">
                              <option value="rice">Rice</option>
                              <option value="potato">Potato</option>
                              <option value="pasta">Pasta</option>
                              <option value="brownRice">Brown Rice</option>
                              <option value="wholeWheatPasta">Whole Wheat Pasta</option>
                              <option value="quinoa">Quinoa</option>
                              <option value="beans">Beans</option>
                              <option value="lentils">Lentils</option>
                              <option value="chickpeas">Chickpeas</option>
                              <option value="fish">Fish</option>
                              <option value="redMeat">Red Meat</option>
                              <option value="poultry">Poultry</option>
                              <option value="eggs">Eggs</option>
                              <option value="sweetPotato">Sweet Potato</option>
                              <option value="cassava">Cassava</option>
                              <option value="pumpkin">Pumpkin</option>
                              <option value="yam">Yam</option>
                              <option value="kale">Kale</option>
                              <option value="spinach">Spinach</option>
                              <option value="arugula">Arugula</option>
                              <option value="lettuce">Lettuce</option>
                              <option value="cauliflower">Cauliflower</option>
                              <option value="broccoli">Broccoli</option>
                              <option value="zucchini">Zucchini</option>
                              <option value="soups">Soups</option>
                              <option value="salads">Salads</option>
                              <option value="nuts">Nuts</option>
                              <option value="seeds">Seeds</option>
                              <option value="fruits">Fruits</option>
                              <option value="flour">Flour</option>
                              <option value="milk">Milk</option>
                              <option value="yogurt">Yogurt</option>
                              <option value="cheese">Cheese</option>
                              <option value="slicedBread">Sliced Bread</option>
                              <option value="frenchBread">French Bread</option>
                              <option value="wholeWheatBread">Whole Wheat Bread</option>
                              <option value="processedMeats">Processed Meats</option>
                              <option value="biscuits">Biscuits</option>
                              <option value="dessert">Dessert</option>
                              <option value="soda">Soda</option>
                              <option value="boxedJuice">Boxed Juice</option>
                              <option value="frozenFoods">Frozen Foods</option>
                              <option selected>Choose...</option>
                            </select>
                          </div>
                        </div>
                        <div class="dropdown col-5 ms-5">
                          <label for="" class="form-label">How often do you eat this particular food?</label>
                          <select id="frequencySelect" class="form-select">
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Monthly</option>
                            <option>Always</option>
                            <option selected>Choose...</option>
                          </select>
                        </div>
                        <div class="col-1 align-self-end">
                          <button onclick="foods.add()" id="foodButton" type="button"
                            class="btn btn-primary">ADD</button>
                        </div>
                      </div>

                      <div class="row px-2 py-5">
                        <table class="table table-dark ms-1">
                          <thead class="table-secondary">
                            <tr class="text-center">
                              <th scope="col">#</th>
                              <th scope="col">Foods</th>
                              <th scope="col">Frequency</th>
                              <th scope="col">X</th>
                            </tr>
                          </thead>
                          <tbody id="foodsTbody" class="table-group-divider text-center table-striped-columns">

                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                  </div><!-- End Multi Columns Form -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>


    </form>
  </main>


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Leo Guedes</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/leonardo-correa-guedes/">Leo Guedes</a>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script src="/static/template/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/template/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/template/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/template/assets/vendor/quill/quill.min.js"></script>
  <script src="/static/template/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/template/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/template/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/js/forms.js"></script>



</body>

</html>