<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Health Coach - New Customer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/static/template/assets/img/favicon.png" rel="icon">
  <link href="/static/template/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="/static/template/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/template/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="/static/template/assets/css/style.css" rel="stylesheet">


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="home" class="logo d-flex align-items-center">
        <img src="/static/imagens/HealthCoachIcon.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- Icone da barra -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/template/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span id="user-name" class="d-none d-md-block dropdown-toggle ps-2">Usuário Desconhecido</span>
          </a><!-- Foto e nome do Perfil -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Usuário Desconhecido</h6>
              <span>Cargo desconhecido</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/index">
          <i class="ri-home-4-fill"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/forms">
          <i class="bi bi-person-plus-fill"></i>
          <span>New Customer</span>
        </a>
      </li><!-- Forms Register new Customer -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/showCustomers">
          <i class="bi bi-people-fill"></i>
          <span>Customers</span>
        </a>
      </li><!-- Table to find Customer -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/contact">
          <i class="ri-customer-service-fill"></i>
          <span>Contact Developer</span>
        </a>
      </li><!-- End Contact Page Nav -->
    </ul>
  </aside>

  <!-- Editar Aqui o Main -->
  <main id="main" class="main">

    <div class="container-fluid">
      <div class="pagetitle">
        <h1>Customer Registration</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/index">Home</a></li>
            <li class="breadcrumb-item active">NewCustomer</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customer Informations</h5>

                <form class="row g-3">

                  <div class="col-md-12">
                    <label for="inputName" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="inputName">
                  </div>

                  <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail">
                  </div>

                  <div class="col-md-6">
                    <label for="inputReferredBy" class="form-label">Referred By</label>
                    <input type="text" class="form-control" id="inputReferredBy">
                  </div>

                  <div class="col-md-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>

                  <body>
                    <div class="col-md-6">
                      <label for="inputBirthDate" class="form-label">Birth Date</label>
                      <input type="text" class="form-control" id="inputBirthDate" placeholder="dd/mm/yyyy">
                    </div>
                    <script>
                      $(document).ready(function () {
                        $("#inputBirthDate").datepicker({
                          dateFormat: "dd/mm/yy",
                          changeYear: true,
                          yearRange: "c-100:c+0",
                        });
                      });
                    </script>
                  </body>

                  <div class="col-md-6">
                    <label for="inputPhoneNumber" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" id="inputPhoneNumber" placeholder="(99) 99999-9999">
                  </div>
                  <script>
                    function formatPhoneNumberInput() {
                      const phoneNumberInput = document.getElementById("inputPhoneNumber");

                      phoneNumberInput.addEventListener("input", function (e) {
                        let value = e.target.value;

                        value = value.replace(/\D/g, '');

                        if (value.length > 0) {
                          value = '(' + value.substring(0, 2) + ')' + ' ' + value.substring(2);
                        }
                        if (value.length > 10) {
                          value = value.substring(0, 10) + '-' + value.substring(10, 14);
                        }

                        e.target.value = value;
                      });
                    }

                    formatPhoneNumberInput();
                  </script>

                  <div class="col-md-6">
                    <label for="inputWeight" class="form-label">Weight</label>
                    <input type="number" class="form-control" id="inputWeight" placeholder="kg">
                  </div>

                  <div class="col-md-6">
                    <label for="inputHeight" class="form-label">Height</label>
                    <input type="number" class="form-control" id="inputHeight" placeholder="cm">
                  </div>

                  <div class="col-md-6">
                    <label for="inputWorksOrStudies" class="form-label">Works or Studies</label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="inputWorksOrStudies">
                      <label class="form-check-label" for="inputWorksOrStudies">
                        Yes, I work or study.
                      </label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <label for="inputConsultationReason1" class="form-label">Consultation Reason 1</label>
                    <textarea class="form-control" id="inputConsultationReason1" rows="4"></textarea>
                  </div>

                  <div class="col-md-12">
                    <label for="inputExpectedOutcome" class="form-label">Expected Outcome</label>
                    <textarea class="form-control" id="inputExpectedOutcome" rows="4"></textarea>
                  </div>

                  <!-- <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div> -->

                </form><!-- End Multi Columns Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customer Alimentation Information</h5>

                <form class="row g-3">

                  <div class="col-md-12">

                    <label data-bs-toggle="collapse" data-bs-target="#collapseText1" class="form-label">
                      <input type="checkbox"> Eats upon wake up?
                    </label>

                    <div id="collapseText1" class="col-md-12, collapse">
                      <input type="text" class="form-control" id="inputName5" placeholder="Breakfast...">
                    </div>

                  </div>

                  <div class="col-md-12">

                    <label data-bs-toggle="collapse" data-bs-target="#collapseText2" class="form-label">
                      <input type="checkbox"> Eats before lauch?
                    </label>

                    <div id="collapseText2" class="col-md-12, collapse">
                      <input type="text" class="form-control" id="inputName5" placeholder="Lauch...">
                    </div>

                  </div>

                  <div class="col-md-12">

                    <label data-bs-toggle="collapse" data-bs-target="#collapseText3" class="form-label">
                      <input type="checkbox"> Eats lauch?
                    </label>

                    <div id="collapseText3" class="col-md-12, collapse">
                      <input type="text" class="form-control" id="inputName5" placeholder="Lauch...">
                    </div>

                  </div>

                  <div class="col-md-12">

                    <label data-bs-toggle="collapse" data-bs-target="#collapseText4" class="form-label">
                      <input type="checkbox"> Eats afternoon snack?
                    </label>

                    <div id="collapseText4" class="col-md-12, collapse">
                      <input type="text" class="form-control" id="inputName5" placeholder="Snack...">
                    </div>

                  </div>

                  <div class="col-md-12">

                    <label data-bs-toggle="collapse" data-bs-target="#collapseText5" class="form-label">
                      <input type="checkbox"> Eats dinner?
                    </label>

                    <div id="collapseText5" class="col-md-12, collapse">
                      <input type="text" class="form-control" id="inputName5" placeholder="Dinner...">
                    </div>

                  </div>

                  <div class="col-md-12">

                    <label data-bs-toggle="collapse" data-bs-target="#collapseText6" class="form-label">
                      <input type="checkbox"> Eats before bed time?
                    </label>

                    <div id="collapseText6" class="col-md-12, collapse">
                      <input type="text" class="form-control" id="inputName5" placeholder="Snack...">
                    </div>
                  </div>

                </form><!-- End Multi Columns Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customer Gym Information</h5>

                <form class="row g-3">
                  <div class="col-md-2">
                    <label for="inputName5" class="form-label">Desired weight</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>

                  <div class="dropdown col-md-2">
                    <div>
                      <label for="inputState" class="form-label">Weight Type</label>
                      <select class="form-select">
                        <option selected>Yoyo</option>
                        <option selected>Stable</option>
                        <option selected>Gain</option>
                        <option selected>Loss</option>
                        <option selected>Rapid Gain</option>
                        <option selected>Cant Maintain Weight</option>
                        <option selected>Choose...</option>
                      </select>
                    </div>
                  </div>


                  <div class="col-md-8">
                    <label for="inputPassword5" class="form-label">What is your chewing pace?</label>
                    <input type="text" class="form-control" id="inputPassword5">
                  </div>

                  <div class="col-md-12 form-check ms-2">
                    <label for="flexCheckDefault" data-bs-toggle="collapse" data-bs-target="#collapseText1"
                      class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Do you exercises?
                    </label>


                    <div id="collapseText1" class="col-md-12, collapse">
                      <br>
                      <div>
                        <label for="inputText">Days of exercise per week? </label>
                        <select id="inputState" class="form-select">
                          <option selected>1</option>
                          <option selected>2</option>
                          <option selected>3</option>
                          <option selected>4</option>
                          <option selected>5</option>
                          <option selected>6</option>
                          <option selected>7</option>
                          <option selected>Choose...</option>
                        </select><br>
                      </div>
                      <div>
                        <label for="inputName">What types of exercises?</label>
                        <textarea type="text" class="form-control " id="inputName5"
                          placeholder="Exercises..."></textarea>
                      </div><br>
                      <div id="collapseText1" class="col-md-12, collapse">
                        <label for="inputName">After exercising, do you feel anything?</label>
                        <textarea type="text" class="form-control " id="inputName5"
                          placeholder="Exercises..."></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Do you intends to exercise?
                    </label>
                  </div>

                  <div class="form-check ms-2 mb-5">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDefault">
                      Do you exercise regularly?
                    </label>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Do you have any preferred fitness activities?</label>
                    <textarea type="text" class="form-control " id="inputName5" placeholder="Exercises..."></textarea>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Do you have any exercises that limit you or cause
                      discomfort?</label>
                    <textarea type="text" class="form-control " id="inputName5" placeholder="Exercises..."></textarea>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Do you take any supplements?</label>
                    <textarea type="text" class="form-control " id="inputName5" placeholder="Supplements..."></textarea>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Do you have any fitness goals or desired life changes
                      related to exercise?</label>
                    <textarea type="text" class="form-control " id="inputName5" placeholder="Exercises..."></textarea>
                  </div>

                  <div class="dropdown col-md-2">
                    <div>
                      <label for="inputState" class="form-label">Family Balance</label>
                      <select class="form-select">
                        <option selected>NONE</option>
                        <option selected>LOW</option>
                        <option selected>MEDIUM</option>
                        <option selected>HIGH</option>
                        <option selected>MAX</option>
                        <option selected>Choose...</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-10">
                    <label for="customRange2" class="form-label">What's your determination level?</label>
                    <input type="range" class="form-range" min="0" max="10" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between ps-2">
                      <p>0</p>
                      <p>1</p>
                      <p>2</p>
                      <p>3</p>
                      <p>4</p>
                      <p>5</p>
                      <p>6</p>
                      <p>7</p>
                      <p>8</p>
                      <p>9</p>
                      <p>10</p>
                    </div>
                  </div>

                  <h4 class="mx-auto p-3 text-center">Goals</h4>
                  <div class="flex-row d-flex text-center flex-wrap justify-content-around">

                    <div class="form-check col-2 ">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Improve Well-being
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Increase Exercise
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Lose Weight
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Improve Sleep
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Improve Mental Health
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Improve Diet
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Increase Energy
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Increase Productivity
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Decrease Stress
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Improve Life Balance
                      </label>
                    </div>

                    <div class="form-check col-2">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Job Satisfaction
                      </label>
                    </div>
                  </div>

                </form><!-- End Multi Columns Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customer Health Information</h5>

                <form class="row g-3">

                  <div>
                    <label for="inputName5" class="form-label">How would you describe your mood recently?</label>
                    <textarea type="text" class="form-control" placeholder="Description..."></textarea>
                  </div>

                  <div class="dropdown col-4">
                    <label for="inputState" class="form-label">Sleep quality</label>
                    <select class="form-select">
                      <option selected>EXCELLENT</option>
                      <option selected>GOOD</option>
                      <option selected>POOR</option>
                      <option selected>DIFFICULTY_FALLING_ASLEEP</option>
                      <option selected>RESTORATIVE</option>
                      <option selected>DAYTIME_SLEEPINESS</option>
                      <option selected>SNORING</option>
                      <option selected>APNEA</option>
                      <option selected>NIGHT_AGGITATION</option>
                      <option selected>Choose...</option>
                    </select>
                  </div>

                  <div class="col-4">
                    <label for="inputName" class="form-label">Sleep hours during the day</label>
                    <input type="time" class="form-control" placeholder="Time..."></input>
                  </div>

                  <div class="col-4">
                    <label for="inputName" class="form-label">Sleep hours during the week</label>
                    <input type="time" class="form-control" placeholder="Time..."></input>
                  </div>

                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">What's your current level of concentration?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>


                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">How would you describe your recent memory?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>


                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">How would you describe your long-term memory?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>


                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">How would you describe your morning
                      disposition?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>


                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">How would you describe your afternoon
                      disposition?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>


                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">How would you describe your evening
                      disposition?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>

                  <div class="col-md-12 pt-5">
                    <label for="customRange2" class="form-label">What is your evening stress level?</label>
                    <input type="range" class="form-range" min="1" max="5" id="customRange2">
                    <div id="determinationLevel" class="d-flex justify-content-between pr-2">
                      <p>NONE</p>
                      <p>LOW</p>
                      <p>MEDIUM</p>
                      <p>HIGH</p>
                      <p>MAX</p>
                    </div>
                  </div>

                  <div class="pt-2">
                    <label for="inputName5" class="form-label">Sleep Improvement Methods</label>
                    <textarea type="text" class="form-control" placeholder="Description..."></textarea>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Energy Reduction Methods</label>
                    <textarea type="text" class="form-control" placeholder="Description..."></textarea>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Stress Reduction Methods</label>
                    <textarea type="text" class="form-control" placeholder="Description..."></textarea>
                  </div>

                  <div>
                    <label for="inputName5" class="form-label">Health Description</label>
                    <textarea type="text" class="form-control" placeholder="Description..."></textarea>
                  </div>

                  <h4 class="mx-auto p-3 text-center">Diseases</h4>

                  <div class="flex-row d-flex text-center flex-wrap justify-content-around">
                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Irritated Intestine
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Acid Reflux
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Gastritis
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Ulcer
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Heart Attack
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Hypertension
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        High Cholesterol
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Edema
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Hypothyroidism
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Diabetes
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Infertility
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Weight Gain
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Anemia
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Hyperthyroidism
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Metabolic Syndrome
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Fatty Liver Disease
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Weight Fluctuations
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Polycystic Ovary Syndrome
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Gout
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Urinary Tract Infection
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Fungal Infection
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Kidney Stones
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Osteoporosis
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Arthritis
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Muscle Pain
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Joint Pain
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Muscle Flaccidity
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Chronic Fatigue Syndrome
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Rheumatoid Arthritis
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Lupus
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Environmental Allergies
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Food Allergies
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Asthma
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Fatigue
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Low Immunity
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Chemical Sensitivity
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Cancer
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Sleep Apnea
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Depression
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Anxiety
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Headaches
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Mood Swings
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Premenstrual Syndrome
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Insomnia
                      </label>
                    </div>

                    <div class="form-check col-3 pt-2">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">
                        Smoking
                      </label>
                    </div>


                  </div>


                </form><!-- End Multi Columns Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customer Nutritionist Information</h5>

                <form class="row g-3">
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail5" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword5">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress5" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                      placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form><!-- End Multi Columns Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="container-fluid">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Customer Rotine Information</h5>

                <form class="row g-3">
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail5" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword5">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress5" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                      placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form><!-- End Multi Columns Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </main>


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Leo Guedes</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/leonardo-correa-guedes/">Leo Guedes</a>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script src="/static/template/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/template/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/template/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/template/assets/vendor/quill/quill.min.js"></script>
  <script src="/static/template/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/template/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/template/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/template/assets/js/main.js"></script>
</body>

</html>