<!DOCTYPE html>
<html>
<head>
    <title>Health Coach</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form>
            <label for="chk" aria-hidden="true">Health Coach</label>
            <p id="paragrafo">Para comprar o sistema, por favor, entre em contato conosco.</p>
            <button type="submit" onclick="window.location.href = 'mailto:leocguedex@gmail.com';">Mail: leocguedex@gmail.com</button>
            <button type="button" onclick="window.location.href = 'tel:+351921647926';">Call +351 921 647 926</button>
        </form>
    </div>
    <div class="login">
        <form id="loginForm">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
        </form>
        <button type="button" id="loginButton">Login</button>
    </div>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>
